<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelar Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cancelar_agendamento.css') }}">
</head>
<body>
    <!-- Exibir as mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mensagens">
                {% for category, message in messages %}
                    <div class="mensagem {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Cabeçalho com título e botão voltar -->
    <header class="cancelamento-header">
        <h1 class="cancelamento-titulo">CANCELAMENTO DE AGENDAMENTO</h1>
        <a href="{{ url_for('auth.main_page') }}" class="cancelamento-voltar">Voltar</a>
    </header>

    <main class="cancelamento-container">
        <p class="cancelamento-descricao">
            Para cancelar o agendamento, digite o código do agendamento no campo abaixo e clique no botão "Cancelar".
        </p>
        <div class="cancelamento-formulario">
            <form action="{{ url_for('auth.cancelar_agendamento') }}" method="POST">
                <input type="text" name="agendamento_id" placeholder="Digite o ID do Agendamento" required>
                <button type="submit" class="botao-cancelar">Cancelar</button>
            </form>
        </div>
    </main>
</body>
</html>
